.active {
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}
.active:hover {
  color: white;
}

.default {
  color: #ced4da;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}

.default:hover {
  color: #ced4da;
}

.log-btn {
  background-color: rgb(61, 57, 57);
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.3s;
}

.log-btn:hover {
  background-color: black;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: #ffffff;
}
